[Unit]
Description=Pedalboard mod-host (LV2 Plugin Host)
After=pedalboard-jack.service
Requires=pedalboard-jack.service

[Service]
Type=simple
User=laenzi
ExecStart=/usr/local/bin/mod-host -n -p 5555 -f 5556
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
